* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  user-select: none;
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica, ubuntu, roboto, noto,
    segoe ui, arial, sans-serif;
  font-size: 12px;
  font-weight: 600;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.List {
  cursor: -webkit-grab;
  white-space: pre;
  width: 100vw;
  background-color: yellowgreen;
  height: calc(100vh - 75px);
}
.loading {
  display: flex;
  justify-content: center;
  height: 100px;
  align-items: center;
  background-color: pink;
}
.tips {
  color: black;
  font-size: 14px;
  font-weight: 500;
}
.ball:active {
  cursor: -webkit-grabbing;
}
